body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.navbar-brand {
    padding: 10px;
    font-size: 3px;
}

li.nav-item {
    padding: 10px;
    font-size: 12rem;
    color: white;
}

.nav-link {
    padding: 10px;
    font-size: 5rem;
    color: white;
}

.navbar-right {
    color: aliceblue;
}

h1 {
    font-size: 1.5rem;
}

table, .table {
    font-size: 1rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-family: inherit;
}

ul.nav navbar-nav navbar-right {
    padding: 10px;
    font-size: 5rem;
    color: white;
}