@{
    ViewBag.Title = "About";
}
<div class="about">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Jack's Oil and Muffler has been providing efficient solutions to our customers'
        automotive needs for over 25 years. Our state-of-the-art facility provides a
        full range of maintenance services. We are committed to providing quality service
        at affordable prices for our customers.
    </p>
</div>