@{
    ViewBag.Title = "About";
}
<div class="about">
    <h2>@ViewBag.Title</h2>
    <h3>About Us</h3>
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <p>
                Jack's Oil & Muffler has been providing efficient solutions to our customers'
                automotive needs for over 25 years. Our state-of-the-art facility provides a
                full range of maintenance services. We are committed to providing quality service
                at affordable prices for our customers.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Assets/pexels-car-engine.jpeg" />
        </div>
    </div>
</div>