@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Johnson Bros. Oil and Muffler</h1>
    <p class="lead">
        At Johnson Bros. our commitment is to provide quality service to our
        customers and get their vehicles back to them in a timely manner.
    </p>
    
    <p>
        We are also committed to our employees! We value you, because you are what enables 
        us to provide quality service to our customers!</p>
</div>

<div class="row">
    <div class="col-md-offset-1"></div>
    <div class="col-md-10">
        <h2>Getting started</h2>
        <p>
            To enter a new customer, click on "Customers," then "Add a new customer," and
            enter the requested information. To add a new vehicle for a customer, click on
            the "Details" link for that customer.
        </p>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-offset-1"></div>
    <div class="col-md-push-10">
        <h2>Add a New WorkOrder</h2>
        <p>
            Work orders must be added from a customer's vehicle page. Click on "Add a new
            work order" and enter the work order information.
        </p>
        <p><a class="btn btn-default" href=" ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-offset-1"></div>
    <div class="col-md-pull-10">
        <h2>Remember the Golden Rule!</h2>
        <p>
            Our customers have many other choices for their car maintenance needs. Be sure
            to treat them the way you would want someone to treat you and your vehicle,
            and we can keep customers for the life of their vehicle!
        </p>
    </div>
    <div class="col-md-1"></div>

</div>